.attitudetestwrapper h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.attitudetestwrapper p {
    text-align: justify;
}
.attitudetestwrapper .starttestbtn {
    float: right;
    margin-top: -48px;
}
