.jobaicorporatedashboard {
    width: 100%;
}
.jobaicorporatedashboard .title {
    font-size: 18px;
    border: none;
    margin-top: 112px;
    margin-bottom: 47px;

}
.jobaicorporatedashboard .jobaicorporatedashboardoptions {
    padding-top: 42px;
}
.jobaicorporatedashboard .jobaicorporatedashboardoptions a {
    display: inline-block;
    width: 173px;
    height: 96px;
    box-shadow: 0px 3px 20px #9393934a;
    padding-top: 45px;
    text-align: center;
    font-size: 16px;
    color: #303030;
    margin-bottom: 13px;
    font-weight: 700;
}
.jobaicorporatedashboard .jobaicorporatedashboardoptions a svg {
    display: block;
    margin: auto;
    color: #0080ff;
    margin-bottom: 7px;
    font-size: 28px;
}
.jobaicorporatedashboard .jobaicorporatedashboardoptions a:first-child {
    margin-right: 26px;
}
.jobaicorporatedashboard .jobaicorporatedashboardoptions a:nth-child(2) {
    margin-right: 26px;
}
.jobaicorporatedashboard .jobaicorporatedashboardoptions a:nth-child(3) {
    margin-right: 26px;
}
.jobaicorporatedashboard img {
    width: 90%;
    float: right;
}