.jobaicorporateviewDialogWrapper .closebtn {
    margin-top: 0px !important;
    background: none;
    color: #CCCCCC;
    box-shadow: none !important;
    float: right;
}
.jobaicorporateviewDialogWrapper .timepicker {
    margin-top: 13px;
}
.jobaicorporateviewDialogWrapper .timepicker span.title {
    display: block;
    color: #A3A3A3;
    margin-bottom: 13px;
    border: none;
}
.jobaicorporateviewDialogWrapper .datepicker {
    margin-top: 13px;
}
.jobaicorporateviewDialogWrapper .datepicker h2 {
    font-size: 24px;
    color: #303030;
    margin-top: 0px;
}
.jobaicorporateviewDialogWrapper .datepicker span.title {
    display: block;
    color: #A3A3A3;
    margin-bottom: 13px;
    border: none;
}
.jobaicorporateviewDialogWrapper .timepicker .react-time-picker {
    width: 96%;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog {
    width: 100%;
    margin-top: 13px;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog span.title {
    display: block;
    color: #A3A3A3;
    margin-bottom: 13px;
    border: none;
    font-size: 12px;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog span.titles {
    display: block;
    color: #A3A3A3;
    border: none;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 10px;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .nameid {
    width: 100%;
    display: flow-root;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .nameid h3 {
    font-size: 24px;
    color: #303030;
    margin: 0px;
    float: left;
}
.jobaicorporateviewDialogWrapper .rightgridpadding {
    padding-right: 16px;
    border-right: 1px solid #CCCCCC;
}
.jobaicorporateviewDialogWrapper .leftgridpadding {
    padding-left: 16px;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .nameid h4 {
    font-size: 18px;
    color: #727272;
    margin: 0px;
    float: right;
    margin-top: 9px;
}

.jobaicorporateviewDialogWrapper .candidatedetaildialog .project {
    width: 100%;
    display: flow-root;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .project a {
    font-size: 24px;
    color: #0E4C92;
    display: flex;
    font-weight: 700;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .project a svg {
    height: 32px;
    margin-right: 3px;
    margin-left: -5px;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .verticalrow {
    width: 100%;
    display: block;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .vertical {
    display: inline-block;
    width: 32%;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .vertical h3 {
    font-size: 14px;
    color: #303030;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .vertical .greendate {
    color: #1AC960 !important;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .vertical .orangedate {
    color: #F83232 !important;
}

.jobaicorporateviewDialogWrapper .candidatedetaildialog .attachmentrow {
    width: 100%;
    display: block;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .attachmentrow .attach{
    display: inline-block;
    width: 42%;
}
.jobaicorporateviewDialogWrapper .candidatedetaildialog .attachmentrow .attach h3 {
    font-size: 18px;
    color: #0080FF;
    margin-top: 0px;
}
.jobaicorporateviewDialogWrapper .corporateviewdialogsubmitbtn button {
    border-radius: 22px;
}