.screeningwrapper h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.screeningwrapper p {
    text-align: justify;
    color: #545455;
}
.screeningwrapper .starttestbtn {
    float: right;
    color: white !important;
    width: 211px;
    height: 45px;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 25px;

}
.titlewithicon {
    display: flex;
}
.titlewithicon span {
    padding-left: 13px;
    color: #0E4C92;
    font-weight: 600;
}
.screeningwrapper .screeningcheckbox label {
    margin-right: 0px;
}
.screeningwrapper .screeningcheckbox {
    width: 100%;
}
.screeningwrapper .screeningbgetstart h1 {
    font-size: 30px;
    color: #0E4C92;
    text-align: center;
}
.screeningwrapper .screeningbgetstart .startscreeningbbtn {
    width: 100%;
    border: 1px solid #0E4C92;
    padding: 32px 0px 32px 0px;
}
.screeningwrapper .screeningbgetstart .startscreeningbbtn button {
    float: none;
    margin-top: 1px !important;
    font-size: 13px;
    margin: auto;
    text-align: center;
    display: block;
}