.screeningacontactdetailwrapper {
    width: 97%;
    padding: 10px;
}
.screeningacontactdetailwrapper h2 {
    margin-top: 0px;
    font-size: 25px;
    padding-left: 13px;
}
.screeningacontactdetailwrapper .screeningacontactdetail .contacdetailarea {
    border: 1px solid #DBDBDB;
    border-top: none;
    padding: 9px 32px 9px 32px;
}
.screeningacontactdetailwrapper .screeningacontactdetail .screeningAHeader {
    padding: 9px 32px 9px 32px;
    border: 1px solid #DBDBDB;
    display: flow-root;
}
.screeningacontactdetailwrapper .addacademicform .addacademicformfields {
    border: 1px solid #DBDBDB;
    padding: 9px 32px 9px 32px;
}
.screeningacontactdetailwrapper .addacademicform .addacademicdata {
    border: 1px solid #DBDBDB;
    padding: 9px 32px 9px 32px;
}
@media (min-width: 960px) {
    .screeningacontactdetailwrapper .addacademicform .addacademicformfields {
        margin-right: 13px;
    }
}
.screeningacontactdetailwrapper .addacademicformfields .screeningAHeader p {
    font-size: 20px;
    color: #4E4E4E;
    margin: 0px;
    float: left;
    line-height: 32px;
    font-weight: 700;
}
.screeningacontactdetailwrapper .screeningacontactdetail .screeningAHeader svg {
    color: #0E4C92;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 15px -2px #00000082;
    border-radius: 50%;
    padding: 7px;
    float: right;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea {
    text-align: center;
    position: relative;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea p {
    font-size: 17px;
    color: #4E4E4E;
    text-align: center;
    margin-bottom: 0px;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea svg.imgcontent {
    width: 234px;
    height: 234px;
    border: 6px solid #4E4E4E;
    border-radius: 50%;
    color: #cccccc;
    margin-bottom: 13px;
    margin-top: 13px;
    z-index: 9;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea .imgcheck1 {
    display: inline-block;
    width: 132px;
    margin-right: 34px;
    margin-top: 27px;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea .imgcheck2 {
    display: inline-block;
    width: 126px;
    margin-left: 34px;
    margin-top: 27px;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea button {
    width: 124px;
    margin-top: 17px !important;
    text-transform: capitalize;
    box-shadow: none !important;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea .uploadimgbutton {
    border-bottom-left-radius: 109px;
    border-bottom-right-radius: 109px;
    height: 119px;
    width: 238px;
    position: absolute;
    top: 137px;
    left: 84px;
    background: #00000075;
    color: white;
    display: block;
    text-align: center;
    cursor: pointer;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea .uploadimgbutton svg {
    width: 35px;
    height: 35px;
}
.screeningacontactdetailwrapper .contacdetailarea .imgarea .uploadimgbutton span {
    display: inline-block;
    font-size: 35px;
    margin-top: 28px;
}
.screeningacontactdetailwrapper p {
    text-align: justify;
}
.screeningacontactdetailwrapper .starttestbtn {
    float: right;
    margin-top: -28px;
    background: #4ABFEF;
    width: 245px;
    height: 53px;
    font-size: 23px;
}
.titlewithicon {
    display: flex;
}
.titlewithicon span {
    padding-left: 13px;
}
.screeningaform {
    padding-left: 13px;
    width: 100%;
    display: contents;
}
.screeningafieldfull {
    width: 100%;
    margin-bottom: 7px !important;
}
.screeningwrapperpadding {
    padding-left: 0px;
    margin-top: 48px;
}
.screeningasavebtn {
    font-size: 23px;
    width: 245px;
    height: 53px;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    background: #0e4c92 !important;
    color: white !important;
}
.screeningaright img {
    max-width: 65%;
    margin: auto;
    display: block;
}
.screeningaright input {
    display: none;
}
.screeningaright .screeningimgupload {
    font-size: 10px;
    background: none;
    color: #3f51b5 !important;
    box-shadow: none !important;
    display: block;
    text-align: center;
    margin-top: 13px !important;
}
.screeningaright .screeningimgupload:hover {
    background: none;
    box-shadow: none;
}
.screeningaright .screeningaprogress {
    padding: 13px;    
    padding-bottom: 0px;
    margin-bottom: 7px;
}
.screeningaright .screeningaprogress h2 {
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.screeningaright .screeningaprogress span {
    color: #7195BF;
    font-size: 10px;
    float: right;
}