.jobaiselectcategory {
    padding-top: 112px;
    position: relative;
    background-image: url(../../../template2.png);
    background-size: contain;
    height: calc(100vh - 176px);
    background-position: 85% 59%;
    background-repeat: no-repeat;
}
@media(min-width: 960px) and (max-width: 1400px) {
    .jobailandingpage {
        padding-left: 32px;
    }
}
.jobaicategorywrapper {
    width: 100%;
    text-align: center;
}
.jobaicategorywrapper {
    margin-top: 7%;
    z-index: 999;
}
.jobaicategorywrapper h1 {
    font-weight: 700;
    font-size: 62px;
    margin-bottom: 22px;
}
.jobaicategorywrapper h1 span {
    color: #397AD0;
}
.jobaicategorywrapper p {
    color: #828282;
    font-size: 25px;
    max-width: 462px;
    margin: auto;
}
.jobaicategoryselectwrapper a {
    border: 3px solid #397AD0;
    border-radius: 34px;
    width: 218px;
    height: 52px;
    font-size: 23px;
    color: #397AD0;
    margin-top: 28px;
    text-transform: capitalize;
}
.jobailandingpagebg {
    position: absolute;
    height: calc(100vh - 176px);
}
.jobailandingpagebg img {
    height: 100%;
}
.jobaicategoryselectwrapper {
    text-align: center;
    margin-top: 17px;
}
@media(min-width: 960px) {
    .jobaicategoryselectwrapper {
        padding-left: 80px;
    }
}
.jobaicategoryselectwrapper h1 {
    color: #828282;
    font-size: 25px;
    margin: auto;
    font-weight: 400;
}
.jobaicategoryselectwrapper img {
    width: 100px;
}
.jobaiselectedcategory {
    border: 1px solid #397ad0;
    display: inline-block;
    padding: 20px;
    box-shadow: 2px 2px 14px 2px #397ad0;
    border-radius: 11px;
}