.screeningAnewwrapper .screeningAwelcome {
    width: 100%;
    text-align: center;
    padding-top: 66px;
}
.screeningAnewwrapper .screeningAwelcome h1 {
    font-size: 4rem;
    margin: 0px;
    color: #0759ad;
    font-weight: 800;
}
.screeningAnewwrapper .screeningAwelcome p {
    font-size: 22px;
    color: #4E4E4E;
    margin: 0px;
}
.screeningAnewwrapper .screeningAwelcome a {
    width: 124px;
    margin-top: 10px !important;
    text-transform: capitalize;
}