.videorecordinggwrapper {
    height: 500px;
}
.videorecordinggwrapper .readingvideo {
    height: 500px;
}
.videorecordinggwrapper .screeningreadingparagraph {
    padding: 0px 13px 13px 13px;
}
.videorecordinggwrapper .screeningreadingparagraph h1 {
    font-size: 25px;
    color: #0E4C92;
    font-weight: 700;
    background: #F6F5F5;
    text-align: center;
    margin: 0px;
}
.videorecordinggwrapper .screeningreadingparagraph p {
    text-align: center;
    color: #545455;
    font-size: 16px;
    font-weight: 700;
}