.jobaicorporateassign {
    width: 100%;
}
.jobaicorporateassign .corporateassignoptions button {
    font-size: 14px;
    background: #ECEAEA;
    color: black;
    box-shadow: none !important;
    min-width: 145px;
    height: 42px;
    border-radius: 0px;
    cursor: pointer;
    text-transform: capitalize;
}
.jobaicorporateassign .corporateassignoptions button.active {
    background: #0080FF;
    color: white;
}
.jobaicorporatetables table td {
    padding: 0px !important;
}
.jobaicorporatetables tbody tr:nth-child(2n+0) {
    background: #F1F1F1;
}