.videorecordinggwrapper {
    height: 500px;
}
.videorecordinggwrapper .readingvideo {
    height: 500px;
}
.videorecordinggwrapper .screeninglisteningparagraph {
    padding: 0px 13px 13px 13px;
}
.videorecordinggwrapper .screeninglisteningparagraph h1 {
    font-size: 25px;
    color: #0E4C92;
    font-weight: 700;
    background: #F6F5F5;
    text-align: left;
    margin: 0px;
}
.videorecordinggwrapper .screeninglisteningparagraph p {
    color: #545455;
    font-size: 16px;
    font-weight: 700;
}
.videorecordinggwrapper .screeninglisteningparagraph svg.stop {
    width: 16px;
    height: 16px;
    color: #FF0000;
}
.videorecordinggwrapper .screeninglisteningparagraph svg.start {
    width: 16px;
    height: 16px;
    color: #0E4C92;
}
.videorecordinggwrapper .screeninglisteningparagraph .react-audio-player  {
    width: 100%;
    margin-top: 28px;
}