.jobaicapstoneselectwrapper {
    border-top: 6px solid #0E4C92;
    background: #c7e9f659;
    /* background: #C7E9F6; */
    min-height: 200px;
    height: 531px;
    display: inherit;
    width: 100%;
    text-align: center;
}
.jobaicapstoneselectwrapper h1 {
    font-size: 23px;
    padding-top: 71px;
    display: flex;
    justify-content: center;
    line-height: 2;
}
.jobaicapstoneselectwrapper .capstonefinalnextbtn {
    display: block;
    margin: auto;
    width: 200px;
}
.jobaicapstoneselectwrapper h1 svg {
    width: 46px;
    height: 46px;
    color: #0E4C92;
}
.jobaicapstoneselectwrapper h2 {
    font-size: 25px;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform {
    max-width: 819px;
    margin: auto;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform h3 {
    font-size: 23px;
    border: none;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform p {
    margin-top: 0px;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform .capstoneselectimeformrow {
    margin-bottom: 32px;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform .capstoneselectimeformrow span.meetingdatetitle {
    display: inline-block;
    background: #0E4C92;
    width: 151px;
    height: 46px;
    color: white;
    line-height: 3;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform .capstoneselectimeformrow span.meetingdatetitlespace {
    color: #0E4C92;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
}
.jobaicapstoneselectwrapper .capstoneslectitmeform .capstoneselectimeformrow .capstonemeetimeselcetor {
    border: 1px solid #0e4c92;
    height: 44px;
    margin-top: 0px;
    padding-left: 21px;
    width: 201px;
    background: white;
}
.jobaicapstoneselectwrapper .capstoneselectimeformrow .capstonemeetimeselcetor ::before {
    border: none;
}
.jobaicapstoneselectwrapper .capstoneselectimeformrow .capstonemeetimeselcetor:hover ::before {
    border: none;
}
.jobaicapstoneselectwrapper .capstoneselectimeformrow .capstonemeetimeselcetor input {
    padding-top: 13px;
}

.capstonenextcancelbtn {
    width: 100%;
    text-align: right;
}
.capstonenextcancelbtn button {
    width: 188px;
    margin-left: 13px;
}