.jobaicorporateheader {
    width: 100%;
    margin: auto;
    box-shadow: 0px 3px 20px #93939329;
}
.jobaicorporateheader .headertitle {
    display: inline-block;
    line-height: 3;
    padding-left: 21px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.jobaicorporateheader .headertitle ul {
    list-style: none;
}
.jobaicorporateheader .headertitle ul li {
    display: inline-block;
}
.jobaicorporateheader .headertitle h1 {
    font-size: 27px;
    color: #0E4C92;
    display: inline-block;
    margin: 0px;
    border-right: 2px solid #d0d0d0;
    padding-right: 17px;
    margin-right: 17px;
    line-height: 46px;
}
.jobaicorporateheader .headertitle span {
    font-size: 16px;
    color: #4E4E4E;
}
.jobaicorporateheader .headertitleright ul {
    list-style: none;
    float: right;
}
.jobaicorporateheader .headertitleright ul li {
    display: inline-block;
    width: 200px;
    height: 74px;
    text-align: center;
}
.jobaicorporateheader .headertitleright ul li a {
    font-size: 18px;
    color: #303030;
    height: 74px;
    display: block;
    padding-top: 28px;
    text-transform: uppercase;
}
.jobaicorporateheader .headertitleright ul li a:hover {
    background: #0080FF;
    color: white;
}
.jobaicorporateheader .headertitleright ul li a.active {
    background: #0080FF;
    color: white;
}