.candidateCVWrapper {
    width: 98;
    padding: 17px;
}
.candidateCVWrapper .buildcvmaintitle h1 {
    font-size: 32px;
    color: #303030;
    text-transform: uppercase;
    display: inline-block;
    width: 22%;
}
.candidateCVWrapper .buildcvmaintitle .candidatecvprogress {
    height: 7px;
    display: inline-block;
    width: 66%;
    border-radius: 3px;
    margin-bottom: 7px;

}
.candidateCVWrapper .buildcvmaintitle p {
    font-size: 17px;
    margin-top: 0px;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields {
    width: 277px;
    height: 26px;
    border-radius: 24px;
    border: 1px solid #BFBFBF;
    padding: 12px;
    display: block;
    margin-bottom: 13px;
}
.candidateCVWrapper .maincvsubmissionfields h4 button {
    background: none;
    border: none;
    width: 21px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 35px;
    margin-left: -35px;
    margin-right: 7px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.candidateCVWrapper .maincvsubmissionfields .cvaddanotherbtn {
    display: block;
    margin-bottom: 13px;
    border: none;
    border-top: 1px solid #BFBFBF;
    background: none;
    color: #397ad0;
    box-shadow: none !important;
    border-radius: 0px;
    font-weight: 700;
}
.candidateCVWrapper .maincvsubmissionfields .skilsboxes {
    max-width: 277px;
}
.candidateCVWrapper .maincvsubmissionfields .skilsboxes span{
    display: inline-block;
    width: auto;
    height: 22px;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 2;
    margin-right: 5px;
    min-width: 50px;
    text-align: center;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields:focus {
    outline: none;

}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields ::before {
    border: none;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields:hover ::before {
    border: none;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields .MuiInput-root {
    width: 100%;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields input {
    font-size: 13px;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextfields textarea {
    font-size: 13px;
}
.candidateCVWrapper .maincvsubmissionfields h1 {
    font-size: 22px;
    margin-bottom: 7px;
}
.candidateCVWrapper .maincvsubmissionfields .maincvtextareafields {
    height: auto;
}
.candidateCVWrapper .maincvsubmissionfields button {
    margin-top: 0px !important;
    width: 302px;
    background: #397AD0;
    border-radius: 23px;
}
.candidateCVWrapper .cvbuildingsideimg {
    width: 91%;
    height: auto;
    margin-top: 17px;
    float: right;
}
.candidateCVWrapper .finalcvsubmitted {
    text-align: center;
}