.screeningAprofilesummarywrapper {
    width: 97%;
    padding: 10px;
}
.screeningAprofilesummarywrapper .screeningAHeader {
    padding: 9px 32px 9px 32px;
    border: 1px solid #DBDBDB;
    display: flow-root;
}
.screeningAprofilesummarywrapper .screeningAHeader p {
    font-size: 20px;
    color: #4E4E4E;
    margin: 0px;
    float: left;
    line-height: 32px;
    font-weight: 600;
}
.screeningAprofilesummarywrapper .screeningAHeader svg {
    color: #0E4C92;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 15px -2px #00000082;
    border-radius: 50%;
    padding: 7px;
    float: right;
}
.screeningAprofilesummarywrapper .summarycontent .profilesummarycontent {
    border: 1px solid #DBDBDB;
    border-top: none;
    padding: 9px 32px 9px 32px;
}
.screeningAprofilesummarywrapper .profilesummarycontent .imgarea {
    text-align: center;
    position: relative;
}
.screeningAprofilesummarywrapper .profilesummarycontent .imgarea p {
    font-size: 17px;
    color: #4E4E4E;
    margin: 0px;
    margin-bottom: 3px;
}
.screeningAprofilesummarywrapper .profilesummarycontent .imgarea p span {
    font-weight: 700;
}
.screeningAprofilesummarywrapper .profilesummarycontent .imgarea svg.imgcontent {
    width: 234px;
    height: 234px;
    border: 6px solid #4E4E4E;
    border-radius: 50%;
    color: #cccccc;
    margin-bottom: 28px;
    margin-top: 28px;
    z-index: 9;
}
.screeningAprofilesummarywrapper .profilesummarycontent .imgarea svg.loadsummary {
    color: #0E4C92;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 15px -2px #00000082;
    border-radius: 50%;
    padding: 7px;
    position: absolute;
    top: 55px;
    right: 100px;
    z-index: 999;
    background: white;
    cursor: pointer;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea h3 {
    font-size: 28px;
    color: #4E4E4E;
    margin-top: 18px;
    font-weight: 100;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea .titles {
    display: block;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea .titles p {
    display: inline-block;
    width: 30%;
    font-size: 17px;
    color: #4E4E4E;
    font-weight: 700;
    margin: 0px;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea .titles span {
    display: inline-block;
    width: 30%;
    font-size: 17px;
    color: #4E4E4E;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea .titlebelow {
    display: block;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea .titlebelow p {
    font-size: 17px;
    color: #4E4E4E;
    margin-bottom: 0px;
}
.screeningAprofilesummarywrapper .profilesummarycontent .namedetailarea .titlebelow span {
    font-size: 17px;
    color: #4E4E4E;
    font-weight: 700;
}