.questionbox {
    max-width: 100%;
    width: 100%;
    border-left: 6px solid #0E4C92;
    background: #c7e9f633;
    display: flex;
}
.questioboxwrapper {
    background: transparent;
    padding: 10px;
}
.questionbox h3 {
    border-bottom: solid 2px #e0e0e0;
    line-height: 30px;
    padding-bottom: 10px;
    color: #444444;
    font-size: 17px;
}
.ans-slide {
    display: block;
    padding-bottom: 10px;
}
.questionbox .submitbtn {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    border: none;
    background: none;
    border-top: solid 1px #02cbf7;
    border-bottom: solid 1px #02cbf7;
    display: block;
    position: relative;
    text-decoration: none;
    color: #02cbf7;
    margin-top: 13px;
    margin-bottom: 31px;
}
.questionbox .submitbtn:hover {
    background: #02cbf7;
    text-decoration: none;
    color: #fff;
}
.submitquizbtn {
    float: right;
    margin-top: 22px !important;
}
.timer {
    float: right;
    line-height: 1px;
    font-size: 17px;
    margin: 0px;
}
.testradiogroup {
    width: 555px;
    display: inline-block !important;
    margin-bottom: 17px;
}
.testradiogroup label {
    width: 50%;
}
.questionmaintestboxtitle {
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 29px !important;
    display: flex;
}
.questionmaintestboxtitle h2 {
    color: #0E4C92;
    font-size: 31px;
    float: left;
    margin: 0px;
}
.questionmaintestboxtitle h2.timer {
    float: right !important;
    justify-content: end;
    text-align: right;
    margin-left: auto;
}
.questionmaintestboxtitle h2 span {
    color: #303030;
    font-size: 20px;
}