.eittestboxpage {
    /* padding-top: 112px; */
    position: relative;
    /* background-image: url(../../../draft.gif); */
    background-size: auto;
    height: calc(100vh - 227px);
    background-position: 99% 48%;
    background-repeat: no-repeat;
    margin: auto;
    padding: 32px;
}
.eittestboxpage .eittestboxtitle {
    border-bottom: 1px solid #E2E2E2;
}
.eittestboxpage .eittestboxtitle h2 {
    color: #0E4C92;
    font-size: 31px;
    float: left;
    margin: 0px;
}
.eittestboxpage .eittestboxtitle h2.timer {
    float: right !important;
}
.eittestboxpage .eittestboxtitle h2 span {
    color: #303030;
    font-size: 20px;
}
.eittestboxwrapper {
    width: 100%;
}
.eittestboxwrapper {
    /* margin-top: 7%; */
    z-index: 999;
}
.eittestboxwrapper h1 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 22px;
    text-align: center;
    margin-top: 13px;
}
.eittestboxwrapper h1 span {
    color: #397AD0;
}
.eittestboxwrapper img {
    width: 100%;
    padding: 13px;
}
.eittestboxwrapper .eittestcontent {
    padding: 18px;
}
.eittestboxwrapper .eittestcontent h3 {
    font-size: 29px;
    border: none;
    text-transform: capitalize;
    font-weight: 100;
}
.eittestboxwrapper  a {
    float: right;
    margin-bottom: 13px;
}
.eittestboxwrapper .eittestcontent .eitradiogroup {
    width: 100%;
    display: block;
    margin-bottom: 32px;
}
.eittestboxwrapper .eittestcontent .MuiFormGroup-root {
    display: block;
}
.eittestboxwrapper .eittestcontent label {
    width: 48%;
    margin-bottom: 32px;
}
.eittestboxwrapper .eittestpagination button {
    float: none;
    margin-right: 9px;
    width: 10px;
    min-width: 10px;
}