.jobaitestscorewrapper {
    border-top: 6px solid #0E4C92;
    background: #C7E9F6;
    min-height: 200px;
    height: 431px;
    display: inherit;
    width: 100%;
    text-align: center;
}
.jobaitestscorewrapper h1 {
    font-size: 23px;
    padding-top: 71px;
    display: flex;
    justify-content: center;
    line-height: 2;
}
.jobaitestscorewrapper h1 svg {
    width: 46px;
    height: 46px;
    color: #0E4C92;
}
.jobaitestscorewrapper h3 {
    font-size: 23px;
    border: none;
}