.capstoneprojectwrapper h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.capstoneprojectwrapper p {
    text-align: justify;
    color: #545455;
}
.capstoneprojectwrapper p span {
    color: #0E4C92;
    font-weight: 700;
}
.capstoneprojectwrapper .starttestbtn {
    float: right;
    margin-top: -28px !important;
    background: #3f51b5 !important;
    color: white !important;
    width: 211px;
    height: 45px;
    font-size: 22px;
    line-height: 1;

}
.capstoneprojectwrapper .capstonedownloadlink {
    color: #0E4C92;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 22px;
    display: block;
}
.capstoneprojectwrapper .capstonedownloadlink svg {
    margin-bottom: -6px;
}
.capstoneprojectwrapper .capstonedropfileare {
    border: 1px solid #0E4C92;
    padding: 0px 16px 16px 16px;
    width: 98%;
}
.capstoneprojectwrapper .capstonedropfileare input {
    display: none;
}
.capstoneprojectwrapper .capstonedropfileare .capstonefileupload {
    margin-top: 12px !important;
    margin: auto;
    display: block;
    text-align: center;
    width: 164px;
}
.capstoneprojectwrapper .capstonenextbtn {
    color: #fff !important;
    background-color: #3f51b5 !important;
    float: right;
    margin-bottom: 20px;
    width: 170px;
}
.titlewithicon {
    display: flex;
}
.titlewithicon span {
    padding-left: 13px;
    color: #0E4C92;
    font-weight: 600;
}