.hardskillswrapper h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.hardskillswrapper p {
    text-align: justify;
}
.hardskillswrapper .starttestbtn {
    float: right;
    margin-top: -28px !important;
    background: #3f51b5 !important;
    color: white !important;
    width: 211px;
    height: 45px;
    font-size: 22px;
    line-height: 1;
}
.titlewithicon {
    display: flex;
}
.titlewithicon span {
    padding-left: 13px;
}