.screeningAprofilewrapper {
    width: 100%;
}
.screeningAprofilewrapper .screeningAsidebar {
    background: #0d4b92;
    display: block;
    height: calc(100vh - 95px);
    position: inherit;
}
.screeningAprofilewrapper .screeningAsidebar ul {
    list-style: none;
}
.screeningAprofilewrapper .screeningAsidebar ul li {
    height: 18px;
    display: block;
    color: white;
    padding: 17px;
    background: #336298;
    margin-top: 4px;
}
.screeningAprofilewrapper .screeningAsidebar ul li:hover {
    font-weight: 700;
    background: white;
    color: black;
    border-left: 6px solid #4E4E4E;
    cursor: pointer;
}
.screeningAprofilewrapper .screeningAsidebar ul li.active{
    font-weight: 700;
    background: white;
    color: black;
    border-left: 6px solid #4E4E4E;
    cursor: pointer;
}