

.GoogleSheetButton
{
    margin-bottom: 25px;
}
.navtab1{
    text-align: -webkit-center;
}

.google-visualization-controls-label{
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
    font-size: 22px;
    /* color: cornflowerblue; */
    margin-left: 50px;
    margin-right: 50px;
}
.google-visualization-controls-stringfilter input {
    border: 1px solid #6a7eac;
    margin-top: 5px;
    border-radius: 20px;
    height: 30px;
    background-color: lightgray;
    font-size: 22px;
    text-align: center;
}
.LandingTab1{
    padding-left: 120px;
    margin-top: 247px;
}
.LandingTab2{
    width: 210px;
height: 170px;
margin-top: 50px;
margin-left: 40px;
background: #ffffff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}
.InsertText
{
    text-align: center !important;
    padding-top: inherit !important;
}

.InsertImage{
    width: 58px;
height: 58px;
align-content: center;
padding-top: 11.43px;
padding-left: 65.34px;;
padding-right: 42.51px;
}
.MainGrid{
    margin-top: 200px;
    padding-top: 9%;
}
.MuiButton-containedPrimary {
    /* color: black !important;
    background-color: white !important; */
    margin-top: 25px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}
.Subheading{
    color: #767679 !important;
}
.TextAgora{
    color: #30DBA8 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    
}
#rootagora{
    background: #f0f0f0 !important;
    margin-top: -196px;
    height: calc(100vh - 68px);
}
.Bottom{
    height: 280px;
   
}
.NameField{
    width: 220px !important;
    margin-right: 15px !important;
}
.RateField{
    width: 160px !important;

}
.EmployeeField{
    width: 140px !important;
    margin-right: 15px !important;
    

}
.FoundedField{
    width: 140px !important;
    margin-right: 15px !important;
}
.WebsiteField{
    width: 140px !important;
}
.LocationField{
    width: 320px !important;
    margin-right: 15px !important;
}
.CityField{
    width: 150px !important;
    margin-right: 15px !important;
}
.FocusField{
    width: 485px !important;
}
a {
    text-decoration: none !important;
}

.SearchOptions{
    width: 150px;
    margin-left: 500px !important;
}

.HeaderBar
{
    PADDING-TOP: 10px !important;
    background: #30DBA8 !important;
    padding-bottom: 10px !important;
}

.SourceDropdown{
    background-color:#FFFFFF;
    width: 250px !important;
}
.TextAgora1{
    color:white !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 36px !important;
    margin-top: 9px !important;
   
}
.TextAgora3{
    color:#397AD0 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 60px !important;
    margin-top: 20px !important;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  .AgoraHeaderNav {
    float: left;
  }

  
  li a:hover {
    background-color: #111;
  }

  .google-visualization-table-table th {
    width: 137px;
  
  }
  .google-visualization-table-table {
    text-align: center;
  }
  .SheetButton
  {
    margin-left: 129px !important;
    margin-top: 1px !important;
    height: 53px;
    width: 236px;
  }

  .SearchBar{
    float: right;
    margin-right: 78px;
    width: 205px;
    margin-top: -48px;
    background-color: white;
    opacity: 0.8;
    height: 49px;
    border-radius: 20px;
  }
  .InsertTab{
      margin-left: 40px;
      margin-right: 40px;
  }
  .InsertTab1{
    margin-left: 40px;
    margin-right: 40px;
}
.GoogleForm{
    height: 1000px;

}
.goog-inline-block{
      /* margin-top: -59px !important; */
      position: absolute !important;
      right: 75px;
      top: 6px;
      /* margin-left: 1050px; */
      /* color: #666 !important; */
      /* background: transparent !important; */
      width: 174px !important;
}
.google-visualization-controls-label{
    display: none !important;
}
.google-visualization-controls-stringfilter{ 
    
height: 45px !important; 
      position: absolute !important;
right: 68px !important;
top: 72px !important;
margin-left: 1050px !important;
width: 250px;
margin-top: 1px;
/* color: #c4c1c1 !important; */
/* background: #c9222200 !important; */

}
.LandingTab3{
    width: 210px;
height: 170px;
margin-top: 90px;
margin-left: 40px;
background: #f0f0f0 !important;
text-align: left !important;

}

[id ='4-input']{
    background-color: white !important;
    height: 38px !important;

}

[id ='7-input']{
    background-color: white !important;
    height: 38px !important;

}
.Searchicontop{
    float: right;
    margin-top: -38px;
    color: gray;
}