.stats{
    background-color: white;
}
.HeaderNav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 .NavHome {
    float: right;
    Margin-right: 40px;
    display: block;
    color: #30DBA8 ;
    text-align: center;
    border-radius: 6px;
    width: 136px;
    padding-top: 15px;
    background-color:white;
    height: 33px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
  }
.Chart
{
    overflow: auto !important;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}
.Salarytext
{
    color: #30DBA8 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 20px !important;
}