.jobaicorporateview {
    width: 100%;
    margin-top: 42px;
}
.jobaicorporatetables table td {
    padding: 0px !important;
}
.jobaicorporatetables tbody tr:nth-child(2n+0) {
    background: #F1F1F1;
}